@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

h1 {
  font-size: 2rem;
  font-family: "Dancing Script";
  color: #00002d;
  margin: 8px 5px 1px 5px;
  padding: 8px 5px 1px 5px;
}

body {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.2 rem;
  padding-top: 54px;
  background-color: #00002d;
  color: #eeeeee;
}

input {
  margin: 20px 10px 10px 5px;
  line-height: 1.2em;
}

textarea {
  border-color: #c4afc4;
  border-radius: 8px;
  width: 70%;
  background-color: #c4afc4;
  background-attachment: local;
  background-image: linear-gradient(to right, white 20px, transparent 10px),
    linear-gradient(to left, white 20px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  line-height: 31px;
  padding: 8px 7px;
  margin: 6px;
}

#letter {
  background-color: #c4afc4;
  width: 27%;
  margin: auto;
  border-radius: 8px;
}

label {
  font-size: 1.2em;
  font-weight: 1200;
  font-family: "Copperplate";
  position: absolute;
}

input,
option,
select {
  line-height: 1.2em;
  font-size: 1.1em;
}
#inputs {
  width: 33%;
  height: 30%;
  /*text-align: center;*/
  margin: 50px 10px 5px 10px;
  padding: 20px;
  border-radius: 10px;
  line-height: 1.2em;
  font-size: 1.1em;
  background: rgb(34, 190, 195);
  background: linear-gradient(
    0deg,
    rgb(129, 151, 151) 0%,
    rgb(223, 219, 212) 100%
  );
  color: #00002d;
  font-weight: bold;
  opacity: 0.7;
  vertical-align: middle;
  /*display: inline-block;*/
}

.ins {
  margin: 0px;
  text-align: left;
  float: left;
  position: relative;
}

#btn {
  background-color: lightblue;
  border-radius: 8px;
  color: #00002d;
  width: 90px;
  height: 40px;
  font-family: "Lora", serif;
  font-size: 1.2em;
  text-align: center;

  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

#btn:hover {
  background-color: #a3a3a3;
  color: #222222;
  cursor: pointer;
}
